{% extends 'main/base.html' %}
{% load static %}
{% block title %}Alle events{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static "events/event_styles.css" %}">

    <style media="screen">
        #btn-add-event {
            position: sticky;
            top: 3.6em;
            z-index: 5;
        }
        .event-banner-wrapper {
            max-height: 18vw;
            overflow-y: hidden;
        }
        .zoom {
            transition: transform .09s;
        }
        .zoom:hover {
            transform: scale(1.01); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
            /* background-color: rgba(255, 255, 255, 0.9); */
            filter: brightness(150%);
        }

    </style>
{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'events:all_events' %}">Alle events</a></li>
{% endblock %}

{% block body %}
    <div class="body-wrapper">

        <div class="h1">
            Alle events
        </div>

        {% if perms.events.add_event %}
            <div id="btn-add-event" class="">
                <a class="btn btn-secondary text-light" href="{% url 'events:add_event' %}">
                    <i class="lni-plus"></i>
                    Legg til events
                </a>
            </div>
        {% endif %}



        <div class=" mt-2">

            {% for event in events %}
                    <div class="bg-blur rounded-xl border border-dark event-card cursor-pointer p-3 mb-4 zoom">

                        <input type="hidden" name="event-url" value="{% url 'events:event_view' event.id %}">

                        {% if event.image_url %}
                            <div class="event-banner-wrapper">
                                <img class="event-banner w-100" src="{{ event.image_url }}" alt="">
                            </div>
                        {% endif %}


                            <div class="row m-0 p-0">
                                <div class="col-md m-0 p-0">
                                    <div class="h2">{{ event.title }}</div>
                                    <div class=""><b>Dato</b>: {{ event.start | date:'l d. M Y' | default:'TBA' }}</div>
                                    <div class="">
                                        <b>Når</b>:
                                        {{ event.start | date:'H:i' | default:'TBA' }}
                                        {% if event.end %}
                                            - {{ event.end | date:'H:i' | default:'TBA' }}
                                        {% endif %}
                                    </div>
                                    <div class=""><b>Hvor</b>: {{ event.place }}</div>
                                </div>
                            </div>

                    </div>
            {% endfor %}

        </div>







    </div>
{% endblock %}

{% block scripts %}

    <script type="text/javascript">
        $(document).ready(function() {
            $('.event-card').click(function() {
                var url = $(this).find('input[name=event-url]').val();
                window.location.href = url;
            })
        });
    </script>
{% endblock scripts %}
