{% extends 'main/base.html' %}
{% block title %}Event{% endblock %}

{% load static %}

{% block head %}

    <link rel="stylesheet" href="{% static "events/event_styles.css" %}">

    <style media="screen">

    </style>
{% endblock %}


{% block body %}
    <div class="body-wrapper">

        <div class="">

            {% if modelID %}
                <div class="h2">
                    Rediger event:
                </div>
            {% else %}
                <div class="h2">
                    Opprett event:
                </div>
            {% endif %}

            {{ form.non_field_errors }}

            <form method="post">
                {% csrf_token %}

                <div class="row m-0">
                    <div class="col-md mx-1 p-0">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">{{ form.title.label }}</span>
                            </div>
                            {{ form.title }}
                        </div>
                    </div>
                    <div class="col-md mx-1 p-0">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">{{ form.place.label }}</span>
                            </div>
                            {{ form.place }}
                        </div>
                    </div>
                    <div class="text-danger">
                        {{ form.title.errors }}
                        {{ form.place.errors }}
                    </div>
                </div>

                <div class="row m-0">
                    <div class="col-md-4 mx-1 p-0 mt-3">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">{{ form.start.label }}</div>
                            </div>
                            {{ form.start }}
                            <div class="input-group-append">
                                <div class="btn btn-dark text-light clear-datetime" data-target="{{ form.start.auto_id }}">
                                    <i class="lni-close small"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mx-1 p-0 mt-3">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">{{ form.end.label }}</span>
                            </div>
                            {{ form.end }}
                            <div class="input-group-append" >
                                <div class="btn btn-dark text-light clear-datetime" data-target="{{ form.end.auto_id }}">
                                    <i class="lni-close small"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="text-danger">
                        {{ form.start.errors }}
                        {{ form.end.errors }}
                    </div>
                </div>

                <div class="row m-0">
                    <div class="col-md mx-1 p-0 mt-3">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">{{ form.facebook_url.label }}</span>
                            </div>
                            {{ form.facebook_url }}
                        </div>
                    </div>
                    <div class="text-danger">
                        {{ form.end.facebook_url }}
                    </div>
                </div>

                <div class="row m-0">
                    <div class="col-md mx-1 p-0 mt-3">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">{{ form.image_url.label }}</span>
                            </div>
                            {{ form.image_url }}
                        </div>
                    </div>
                    <div class="text-danger">
                        {{ form.end.image_url }}
                    </div>
                </div>

                <div class="row m-0">
                    <div class="col-md-4 mt-4">
                        {% if form.instance.id %}
                            <a class="btn btn-dark btn-block text-light" href="{% url 'events:event_view' form.instance.id %}">Avbryt</a>
                        {% else %}
                            <a class="btn btn-dark btn-block text-light" href="{% url 'events:all_events' %}">Avbryt</a>
                        {% endif %}
                    </div>
                    <div class="col mt-4">
                        <button type="submit" class="btn btn-secondary btn-block text-light">Lagre</button>
                    </div>
                </div>
            </form>

        </div>
    </div> <!-- END: body-wrapper -->
{% endblock %}

{% block scripts %}

<script type="text/javascript">

    var tinymceConfig = {
        selector: "textarea.tinymce",
        plugins: 'advlist autoresize autosave codesample emoticons help lists print searchreplace tabfocus textpattern',
        menubar: 'file edit insert view format tools table help',
        toolbar: 'undo redo | fontselect | fontsizeselect | bold italic underline | forecolor | backcolor | removeformat | numlist bullist',
        min_height: 50,
        max_height: 600,
        toolbar_sticky: false,
        autosave_ask_before_unload: true,
        autosave_interval: "30s",
        autosave_prefix: "{path}{query}-{id}-",
        autosave_restore_when_empty: false,
        autosave_retention: "2m",
        tabfocus_elements: ":prev,:next",
        toolbar_items_size: "small",
    }

    tinymce.init(tinymceConfig);

    $(document).ready(function() {

        flatpickr(".flatpickr", {
            locale: "no",
            // altInput: true,
            // altFormat: "j F, Y  H:i",
            enableTime: true,
            dateFormat: "d.m.Y  H:i"
        });

        $('.clear-datetime').click(function() {
            var id = $(this).attr('data-target');
            $(`#${id}`).val("");
        })

    })
</script>
{% endblock scripts %}
