{% extends 'main/base.html' %}
{% block title %}{{ event.title }}{% endblock %}
{% load static %}

{% block head %}

    <link rel="stylesheet" href="{% static "events/event_styles.css" %}">

    <style media="screen">

    </style>
{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'events:all_events' %}">Alle events</a></li>
    <li class="breadcrumb-item"><a href="{% url 'events:event_view' event.id  %}">{{ event.title }}</a></li>
{% endblock %}

{% block body %}

    <div class="body-wrapper m-0 p-2">

        <div class="row m-0 p-0">
            <div class="col m-0 p-0">
                <div class="h1">
                    {{ event.title }}
                </div>
            </div>
            <div class="col m-0 p-0">
                {% if perms.events.change_event %}
                    <a class="btn btn-dark text-light btn-sm float-right" href="{% url 'events:edit_event' event.id %}"><i class="lni-pencil"></i> Rediger</a>
                {% endif %}

            </div>
        </div>

        <div class="row m-0 p-0">
            <div class="col-md m-0 p-0">
                <div class="">
                    <!-- https://ourcodeworld.com/articles/read/555/how-to-format-datetime-objects-in-the-view-and-template-in-django -->
                    <!-- https://docs.djangoproject.com/en/dev/ref/templates/builtins/#date -->
                    <div class=""><b>Dato</b>: {{ event.start | date:'d. M Y (D)' | default:'TBA' }}</div>
                    <div class=""><b>Når</b>: {{ event.start | date:'H:i' | default:'TBA' }} - {{ event.end | date:'H:i' | default:'TBA' }}</div>
                    <div class=""><b>Hvor</b>: {{ event.place | default:'TBA' }}</div>
                    <div class="">
                        <b>Facebook event</b>:
                        {% if event.facebook_url %}
                            <a href="{{event.facebook_url }}">
                                {{ event.facebook_url | default:'TBA' }}
                            </a>
                        {% else %}
                            TBA
                        {% endif %}
                    </div>
                </div>
            </div>

        </div>

        <div class="row m-0">

            <div class="col-md p-0">
                {{ event.description }}
            </div>

            <div class="col-md-4 p-1">
                <div class="bg-info text-light rounded p-2">
                    {% if request.user not in event.participants.all %}
                    <div class="">
                        <div class="">
                            Du er ikke meldt på dette arrangementet
                        </div>
                        <form id="form-signup" class="form-signup" action="{% url 'events:event_signup' event.id %}" method="post">
                            {% csrf_token %}
                            <button class="btn btn-dark btn-sm" type="submit" name="button">Meld på</button>
                        </form>
                        <div class="small font-italic">
                            Obs: Du kan ikke melde deg av. Ta kontakt med styret hvis du vil melde deg av

                        </div>
                    </div>
                    {% else %}
                    <div class="">
                        Du er meldt på dette arrangementet :D
                    </div>
                    {% endif %}
                </div>
            </div>

        </div>

        {% if perms.events.view_participant %}
            <div class="mt-3">
                <div class="table-responsive rounded">
                    <table class="table table-sm table-hover table-striped table-dark rounded">
                        <thead>
                        <tr>
                            <th scope="col">Deltaker</th>
                            <th scope="col">Dato</th>
                            <th scope="col">Earlybird</th>
                            <th scope="col">Betalt</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for participant in event.participant_set.all %}
                        <tr>
                            <th scope="row">{{ participant.user }}</th>
                            <td>{{ participant.date_joined | date:'d.m.y H:i' }}</td>
                            <td>
                                {% if participant.is_earlybird %}
                                    <i class="lni-check-mark-circle text-success"></i>
                                {% else %}
                                    <i class="lni-circle-minus text-danger"></i>
                                {% endif %}
                            </td>
                            <td>
                                {% if participant.has_paid %}
                                    <i class="lni-check-mark-circle text-success"></i>
                                {% else %}
                                    <i class="lni-circle-minus text-danger"></i>
                                {% endif %}
                            </td>
                            {% if perms.events.change_participant %}
                                <td>
                                    <a class="a-primary" href="{% url 'admin:events_participant_change' participant.id %}">Rediger</a>
                                </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}



        <div class="mt-5">
            <div class="text-right font-italic small">
                <div class="">
                    Sist redigert av: {{ event.last_editor | default:'Ukjent' }} {{ event.last_edited | date:'(d. M Y - H:i)' }}
                </div>
                Opprettet av: {{ event.creator | default:'Ukjent' }} {{ event.created | date:'(d. M Y - H:i)' }}
            </div>
        </div>

    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            $("#form-signup").submit(function() {
                return confirm("Er du sikker på at du vil melde deg på dette arrangementet?");
            })
        })
    </script>
{% endblock scripts %}
