<!DOCTYPE html>
<html lang="en" dir="ltr">
{% load static %}
{% load main_tags %}
{% settings "DEV" as dev %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- MDB (also js) -->
    <!-- Annoying wave-effect -->
    {# <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.16.0/css/mdb.min.css" rel="stylesheet"> #}

    <!-- Icon library -->
    <link rel="stylesheet" href="https://cdn.lineicons.com/1.0.1/LineIcons.min.css">
    <link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet">

    <!-- Other -->
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/base.css' %}"/>
    <link rel="shortcut icon" type="image/png" href="{% static 'main/img/favicon-32x32.png' %}"/>
    {% if dev %}
        <link rel="stylesheet" href='{% static "main/css/dev.css" %}'>
    {% endif %}

    <!-- select2 (also js) -->
    {# <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/css/select2.min.css" integrity="sha256-FdatTf20PQr/rWg+cAKfl6j4/IY3oohFAJ7gVC3M34E=" crossorigin="anonymous" /> #}

    <!-- TinyMCE -->
    <script src="https://cdn.tiny.cloud/1/5fxgnl3dek8av5x5in4ke8fhqsup13fux7rshr2l91r8lgjw/tinymce/5/tinymce.min.js"></script>


    <!-- flatpickr (also js) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.3/flatpickr.css" integrity="sha256-7vIWE+OHz3pLhuONuFqSa/Oh/YUUHFIMooHMwN1Q2bk=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.3/themes/dark.css" integrity="sha256-K7VO/dYboZOIjm2us6WE3Z8P8lsfUKaUVSnYYtPg6eE=" crossorigin="anonymous" />

    <!-- Title -->
    <title>{% block title %}Base{% endblock %}</title>




    {% block head %}{% endblock %}
</head>

<body>

    {% include "main/navbar.html" %}



    <div id="content-wrapper" class="container-fluid p-1">

        <!-- Messages -->
        <div class="no-print mb-2">
            {% for message in messages %}
                {% if 'success' in message.tags %}
                    <div class="p-1 bg-success text-light rounded mb-1">
                        {{ message }}
                        <i class="btn-message-remove cursor-pointer lni-cross-circle float-right pt-1"></i>
                    </div>
                {% elif 'error' in message.tags %}
                    <div class="p-1 bg-danger text-light rounded mb-1">
                        {{ message }}
                        <i class="btn-message-remove cursor-pointer lni-cross-circle float-right pt-1"></i>
                    </div>
                {% elif 'warning' in message.tags %}
                    <div class="p-1 bg-warning text-dark rounded mb-1">
                        {{ message }}
                        <i class="btn-message-remove cursor-pointer lni-cross-circle float-right pt-1"></i>
                    </div>
                {% elif 'info' in message.tags %}
                    <div class="p-1 bg-info text-light rounded mb-1">
                        {{ message }}
                        <i class="btn-message-remove cursor-pointer lni-cross-circle float-right pt-1"></i>
                    </div>
                {% elif 'debug' in message.tags %}
                    <div class="p-1 bg-primary text-light rounded mb-1">
                        {{ message }}
                        <i class="btn-message-remove cursor-pointer lni-cross-circle float-right pt-1"></i>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        {% block body %}
            <!-- Other templates are inserted here -->
        {% endblock %}
    </div>

    <!--
    Position absolute enables elements to stack on top of eachother. In this case canvas behind the footer.
    w-100 sets width to 100% because position-absolute makes div display like span
    -->
    <div class="mt-5">
        <canvas class="position-absolute w-100"></canvas>
        <div class="position-absolute w-100">
            {% include "main/footer.html" %}
        </div>

    </div>



    <!-- JQuery first (3.5.0 breaks the site), then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    {# <script src="https://code.jquery.com/jquery-3.5.0.js" integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc=" crossorigin="anonymous"></script> #}
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>
    {# <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.4.0/cjs/popper.min.js" integrity="sha256-OH05DFHUWzr725HmuHo3pnuvUUn+TJuj8/Qz9xytFEw=" crossorigin="anonymous"></script> #}
    {# <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script> #}

    <!-- MDB (also css) -->
    {# <script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.16.0/js/mdb.min.js"></script> #}

    <!-- flatpickr (also css) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.3/flatpickr.js" integrity="sha256-3soYYYidbbsrmHXTGgxeCdgMfgt6IqWjWPKfuDWduqM=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.3/l10n/no.js" integrity="sha256-q8KkXT0pTTRz4uxuUW+rWQbWyg1VTAygONGTJS/QUjE=" crossorigin="anonymous"></script>

    <!-- select2 (also css) -->
    {# <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/js/i18n/nb.js" integrity="sha256-vw4B7p459U8eU8SfWyGnBM2YmkxrKM43V72uzVtPIHc=" crossorigin="anonymous"></script> #}



    <!-- constellation effect for footer -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/zepto/1.2.0/zepto.js" integrity="sha256-U+vPaw6wGRNjtBRznIBWHgpzNvNI8pRs8fQC313cxfs=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static "main/js/constellation.js" %}"></script>

    <!-- BsMultiselect -->
    <!-- https://www.jqueryscript.net/form/Bootstrap-4-Multi-Select-BsMultiSelect.html -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/js/bootstrap-multiselect.js" integrity="sha256-gh5oDg46rxRDr9QF4nehk1UNULQ05EhbM9wOerElwRc=" crossorigin="anonymous"></script>
    {# <script type="text/javascript" src="https://rawgit.com/DashboardCode/BsMultiSelect/master/dist/js/BsMultiSelect.min.js"> #}

    </script>

    {% block scripts %}{% endblock %}

    <script type="text/javascript">
        $(document).ready(function() {
            $('.btn-message-remove').on('click', function() {
                $(this).parent().remove();
            })

            $("form [required]").addClass("border-primary");

            $(function(){
                // $("select").bsMultiSelect();
                $("select.plugin").multiselect();
                $(".multiselect").addClass("bg-light mt-3")
            });
        })
    </script>


</body>
</html>
