{% extends 'skeleton/base.html' %}
{% load static %}
{% load main_tags %}
{% block title %}Alle sitater{% endblock %}

{% block head %}

    <style media="screen">
        #btn-add-quotation {
            position: sticky;
            top: 3.6em;
            z-index: 5;
        }
        .quotation-banner-wrapper {
            max-height: 18vw;
            overflow-y: hidden;
        }
        .zoom {
            transition: transform .09s;
        }
        .zoom:hover {
            transform: scale(1.005); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
            /* background-color: rgba(255, 255, 255, 0.9); */
            /* filter: brightness(150%); */
        }

    </style>
{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'quotations:all_quotations' %}">Alle quotations</a></li>
{% endblock %}

{% block body %}
    <div class="body-wrapper">

        {% csrf_token %}

        <div class="h1">
            Alle sitater
        </div>

        {% if perms.quotations.add_quotation %}
            <div id="btn-add-quotation" class="">
                <a class="btn btn-secondary text-light" href="{% url 'gallery:add_quotation' %}">
                    <i class="lni-plus"></i>
                    Legg til sitat
                </a>
            </div>
        {% endif %}



        <div class=" mt-2">

            {% for quotation in quotations %}
                    <div class="bg-blur rounded-xl border border-dark quotation-card cursor-pointer p-3 mb-4 zoom">

                        <input type="hidden" name="quotation-id" value="{{ quotation.id }}">

                            <div class="row m-0 p-0">
                                <div class="col-md m-0 p-0">
                                    <div class="h2">{{ quotation.title }}</div>
                                    <div class="text-muted">{{ quotation.description }}</div>
                                    <div class="">-{{ quotation.user }}</div>
                                    <div class=""><b>Når</b>: {{ quotation.datetime | date:'H:i' | default:'TBA' }}</div>
                                    <div class=""><b>Hvor</b>: {{ quotation.location }}</div>
                                </div>

                                <div class="col-md-1">
                                    <div class="btn-like-quotation">
                                        {% quotation_liked_by quotation request.user as liked %}
                                        <i class="lni lni-thumbs-up icon-thumbs {% if liked %}text-primary{% endif %}"> {{ quotation.likes.count }}</i>
                                    </div>
                                    <div class="btn-favorite-quotation">
                                        {% quotation_favorited_by quotation request.user as favorited %}
                                        {% if favorited %}
                                            <i class="lni lni-heart-filled text-danger icon-heart"> {{ quotation.favorites.count }}</i>
                                        {% else %}
                                            <i class="lni lni-heart icon-heart"> {{ quotation.favorites.count }}</i>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>

                    </div>
            {% endfor %}

        </div>





    </div>
{% endblock %}

{% block scripts %}

    <script type="text/javascript">
        $(document).ready(function() {

            function updateHeart(heart, data) {
                data.favorited ? heart.addClass("lni-heart-filled text-danger").removeClass("lni-heart") : heart.removeClass("lni-heart-filled text-danger").addClass("lni-heart");
                heart.html(` ${data.favorites}`);
            }

            function updateThumbs(thumbs, data) {
                data.liked ? thumbs.addClass("text-primary") : thumbs.removeClass("text-primary");
                thumbs.html(` ${data.likes}`);
            }

            $('.btn-favorite-quotation').click(function(e) {
                const q_id = $(this).parents(".quotation-card").find("input[name='quotation-id']").val();
                const csrfmiddlewaretoken = $("input[name='csrfmiddlewaretoken']").val();
                let heart = $(this).find(".icon-heart");
                $.post("{% url 'gallery:api_favorite_quotation' %}", {
                    q_id: q_id,
                    csrfmiddlewaretoken: csrfmiddlewaretoken,
                }).done(function(data) {
                    updateHeart(heart, data);
                })
            })

            $('.btn-like-quotation').click(function(e) {
                const q_id = $(this).parents(".quotation-card").find("input[name='quotation-id']").val();
                const csrfmiddlewaretoken = $("input[name='csrfmiddlewaretoken']").val();
                let thumbs = $(this).find(".icon-thumbs");
                $.post("{% url 'gallery:api_like_quotation' %}", {
                    q_id: q_id,
                    csrfmiddlewaretoken: csrfmiddlewaretoken,
                }).done(function(data) {
                    updateThumbs(thumbs, data);
                })
            })

        });
    </script>
{% endblock scripts %}
